#timeback{
  position: relative;;
  left: 37%;
}

#timehome{
  position: relative;;
  left: 42%;
  display:none;
}

#donttalk{
  text-align:center;
  color: red;
}

h1{
  text-align: center;
}
h2{
  text-align: center;
}
#clockh2{
  padding: 20px;
}


#div2 {
  height:auto;
  width: auto;
  position: relative;;;
  color: pink;
}

#div3 {
  height:auto;
  width: auto;
  position: relative;;;
  color: blue;
  display: none;

#wrapper
{
height: 600px;
width:600px;
}
