#timeback{
  position: relative;;
  left: 32.5%;
  opacity: 100%;
}

#timehome{
  position: relative;;
  left: 32.25%;
  display:none;
}

#donttalk{
  text-align:center;
  color: red;
  text-shadow: 2px 2px black;
}

h1{
  text-align: center;
}
h2 {
  text-align: center;
}
#clockh2{
  padding: 20px;
}


#div2 {
  height:auto;
  width: auto;
  position: relative;;;
  color: blue;
  text-shadow: 1px 1px black;
}

#div3 {
  height:auto;
  width: auto;
  position: relative;;;
  color: blue;
  text-shadow: 1px 1px black;
  display: none;
}

#wrapper{
height: 600px;
width:463px;
margin:auto;
}

#bttf{
  background-image: url("bttfsmall.jpg");
  opacity: 0.5;
  height: 600px;
  width:463px;
  position:absolute;
}
p{
  font-size: 40px;
  font-weight: bolder;
}
button {
  background-color: yellow;
}
